<!DOCTYPE html>
<html lang="en" xmlns:th='http://www.thymeleaf.org/'>

<nav th:replace="fragments :: page-header"></nav>

<head>
    <meta charset="UTF-8"/>
    <title>Behold, Your Hero</title>
</head>
<body>
    <h1>Behold, Your Adventurer!</h1>
        <h3>Name</h3>
            <p th:text ="${adventurer.advName}"></p>
        <h3>Strength</h3>
            <p th:text="${adventurer.advStr}"></p>
        <h3>Dexterity</h3>
            <p th:text ="${adventurer.advDex}"></p>
        <h3>Constitution</h3>
            <p th:text ="${adventurer.advCon}"></p>
        <h3>Intelligence</h3>
            <p th:text ="${adventurer.advInt}"></p>
        <h3>Wisdom</h3>
            <p th:text ="${adventurer.advWis}"></p>
        <h3>Charisma</h3>
            <p th:text ="${adventurer.advCha}"></p>

</body>
</html>